
<div class="form">
	<h3>Create New</h3>
	 <form action="/art_work" method="POST">
	 	<input type="text" name="title" placeholder="Title"><br>
	 	<input type="text" name="artist" placeholder="Artist"><br>
	 	<input type="text" name="year" placeholder="Year"><br>
	 	<input type="text" name="medium" placeholder="Medium"><br>
	 	<textarea rows="4" cols="50" name="description" placeholder="Description"></textarea><br>
	 	<input type="submit" value="Submit">
	 </form>
</div>

