<div class="w3-bar w3-blue w3-card">
	<a href="/art/index" class="w3-bar-item w3-button">Index</a>
	<a href="/art/new" class="w3-bar-item w3-button w3-dark-grey" >New</a>
	<a href="/art/submissions" class="w3-bar-item w3-button">Submissions</a>
	<a href="/logout" class="w3-bar-item w3-button">Log Out</a>
</div>
<div class="form">
	<h3>Create New</h3>
	 <form action="/art" method="POST">
	 	<input type="text" name="title" placeholder="Title"><br>
	 	<input type="text" name="artist" placeholder="Artist"><br>
	 	<input type="text" name="year" placeholder="Year"><br>
	 	<input type="text" name="medium" placeholder="Medium"><br>
	 	<textarea rows="4" cols="50" name="description" placeholder="Description"></textarea><br>
	 	<input type="submit" value="Submit">
	 </form>
</div>

